<main>
  <h1>Welcome! Let's get a meme for the day!</h1>
  <a mat-icon-button routerLink="/users/{{defaultMeme.__owner__.id}}" *ngIf="defaultMeme.__owner__">
    <span class="avatar">
      <!-- <mat-icon *ngIf="!defaultMeme.__owner__.avatar">account_circle</mat-icon> -->
      <div mat-card-avatar *ngIf="defaultMeme.__owner__.avatar"
        style="background-image: url({{defaultMeme.__owner__.avatar}});">
      </div>
      <mat-card-title style="padding: 16px">{{defaultMeme.__owner__.name}}</mat-card-title>
    </span>
  </a>
  <a routerLink="/memes/{{defaultMeme.id}}">
    <img src={{defaultMeme.source}} alt={{defaultMeme.content}} />
  </a>
  <p>{{defaultMeme.content}}</p>
  <button class="btn"(click)="randomizeMemes()">Randomize a meme</button>
</main>
